[agent]
expertMode = true

[workflows]
runButton = "Start Bot"

[[workflows.workflow]]
name = "Start Bot"
author = 49831719
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "node index.js"
